{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>FISHART – форум креативных рыболовов</h1>
    
    Наш сайт основан в 2020 году группой студентов из ТУСУРа. Мы знаем, что, несмотря на тяжёлое время пандемии, каждый рыбак не забывает о своей страсти к рыбной ловли. Ведь так хорошо посидеть на берегу озера с удочкой в руках, забыть обо всём и насладиться единением с природой.
    
    Чтобы провести время с пользой и поймать крупную рыбёшку, Вы можете зайти на наш форум, чтобы узнать актуальную обстановку на водоёмах, интенсивность клёва, снастях, технике рыбалке и многом другом. <p class="tab"></p>Есть возможность поделиться собственными впечатлениями о прошедших выходных, И, наконец, найти единомышленников и верных друзей.
    
    Популярность рыболовному форуму добавляет простота и доступность использования. Как правило, всё структурировано и разбито отдельные темы. Все сообщения в теме рыболовного форума расположены в порядке последней активности в виде ленты для удобства поиска.
    
    Для вступления в наше рыболовное сообщество, нужно пройти простую регистрацию. После этого вы сможете размещать свою информацию, общаться в форуме, оставлять ссылки на тематические видеоролики, участвовать в конкурсах и акциях.

{% endblock content %}