<!doctype html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 bg-blue border-bottom shadow-sm">
        <a class="p-2 text-dark my-0 mr-md-auto font-weight-normal" href="{% url 'post_list' %}" >FISHART - форум креативных рыболовов</a>
        <nav class="my-2 my-md-0 mr-md-3">
            {% if user.is_authenticated %}
          <a class="p-2 text-dark" href="{% url 'post_create' %}"style="position: relative;  left: -100px;">Создать пост</a>
            {% endif %}
            <a class="p-2 text-dark" href="{% url 'post_list' %}"style="position: relative;  left: -100px;">Главная</a>
            <a class="p-2 text-dark" href="{% url 'about' %}"style="position: relative;  left: -100px;">О нас</a>
            <a class="p-2 text-dark" href="{% url 'support' %}"style="position: relative;  left: -100px;">Поддержка</a>
        </nav>
        {% if user.is_authenticated%}
        <p class="font-weight-normal" style="position: relative;  left: -30px; ;top:+7px;">Привет,</p>
        <a class="p-2 text-dark" href="{% url 'profile' %}"style="position: relative;  left: -20px;">{{ user.username }}</a>
        <a class="btn btn-outline-primary" href="{% url 'logout' %}"style="position: relative;  left: -20px;">Выйти</a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'login' %}"style="position: relative;  left: -20px;">Войти</a>
        <a class="btn btn-outline-primary" href="{% url 'register' %}" >Регистрация</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>